---
title: Eleventy on Firebase Functions y'aaaaaaaalllllll
permalink:
  possum: /
---
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <ul>
    {% for user in userList %}
      <li>{{ user }}</li>
    {% endfor %}
  </ul>
</body>

</html>